html, body {
    background-color: #1c1c1c !important; 
}

#header {
    background-color: #262626 !important;
    border-bottom: 1px solid #5f5faf;
}

.article {
    background-color: #262626 !important;
    border: 1px solid #5f5faf !important;
}

button {
    background-color: #e4e4e4 !important;
    color: #1c1c1c !important;
}

button:hover {
    background-color: #af005f !important;
    color: #e4e4e4 !important;
}

.cat-tool {
    color: #af005f;
}

.cat-article {
    color: #5f8700;
}

.cat-tweet {
    color: #0087ff;
}

.cat-github {
    color: #aed6f1;
}

.cat-vulnerability {
    color: #F08080;
}

.cat-attack {
    color: #2ecc71;
}
